---
import logo from "../assets/Logo.svg";
---

<header>
  <a href="/" class="logo-link">
    <img src={logo.src ?? logo} alt="Site logo" class="logo-img" />
  </a>
 

  <style>
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 3rem;
      margin-bottom: 2rem; /* space below header */
      
  
    }

    .logo-link {
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    .logo-img {
      width: 150px; /* adjust size as you prefer */
      height: auto;
      display: block;
    }

    ul
    {
        
        list-style: none;
    }
  </style>
</header>
